<h2>Tambah Kegiatan</h2>

<form action="/campus/add" method="POST">
  <label>Judul Kegiatan:</label><br>
  <input type="text" name="title" required><br>

  <label>Waktu Kegiatan:</label><br>
  <input type="time" name="waktu" required><br>

  <label>Nama Gedung (lokasi kegiatan):</label><br>
  <input type="text" name="name" required><br>

  <br>
  <button type="submit">Simpan Semua</button>
</form>
