<!-- TODO: Edit "Selamat Datang, Nama Mahasiswa" dengan nama mahasiswa yang login -->

<div class="container mx-auto px-6 py-8">
    <h1 class="text-3xl font-bold text-slate-800">Selamat Datang, Nama Mahasiswa</h1>

    <div class="mt-8">
        <h2 class="text-2xl font-semibold text-slate-700">Informasi Terbaru</h2>
        <div class="mt-4 flex flex-wrap justify-center">
            <!-- Instagram Embed 1 -->
            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/DIP4pBBy_vg/" data-instgrm-version="14" style=" max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"></blockquote>

            <!-- Instagram Embed 2 -->
            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/DJzFaWKSRJe/" data-instgrm-version="14" style=" max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"></blockquote>
            
            <!-- Instagram Embed 3 -->
            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/DJzFU4mysK0/" data-instgrm-version="14" style=" max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"></blockquote>
        </div>
    </div>
</div>
