<div class="sidebar">
    <div class="sidebar-header">Submit tugas</div>
    <ul class="nav-menu">
        <li><a href="/home"><img src="/img/icon-home.png" alt="Home Icon"> Home</a></li>
        <li><a href="/jadwal"><img src="/img/icon-jadwal.png" alt="Jadwal Icon"> Jadwal</a></li>
        <li class="active"><a href="/assignment"><img src="/img/icon-penugasan.png" alt="Penugasan Icon"> Penugasan</a></li>
        <li><a href="/absensi"><img src="/img/icon-absensi.png" alt="Absensi Icon"> Absensi</a></li>
        <li><a href="/forum"><img src="/img/icon-forum.png" alt="Forum Icon"> Forum</a></li>
        <li><a href="/campus"><img src="/img/icon-peta.png" alt="Peta Icon"> Peta</a></li>
    </ul>
    <div class="logout-section">
        <a href="/logout"><img src="/img/icon-logout.png" alt="Logout Icon"> Logout</a>
    </div>
</div>