<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {
        pageTitle: 'Login'
    }) %>
</head>
<body>
    <div class="flex justify-center items-center h-screen bg-transparent md:bg-gray-100">
        <div class="px-14 py-20 max-w-full bg-white rounded-2xl shadow-none sm:max-w-4/5 md:shadow-md">
            <div class="flex flex-col space-y-4">
                <h1 class="text-xl font-bold tracking-tight md:text-2xl">
                    Login
                </h1>
                <p class="text-base">
                    Masukkan username (NIM) dan password yang telah diberikan oleh panitia.
                </p>

                <form action="/auth/login" method="POST" class="w-full">
                    <%- include('../components/input-text', {
                        id: 'username',
                        label: 'Username',
                        placeholder: '251152xxxx',
                        icon: '<i data-lucide="user"></i>',
                        type: 'text',
                        required: true
                    }) %>
                    
                    <div class="mt-4">
                        <%- include('../components/input-text', {
                            id: 'password',
                            label: 'Password',
                            placeholder: 'Password',
                            icon: '<i data-lucide="lock"></i>',
                            type: 'password',
                            required: true
                        }) %>
                    </div>
                    
                    <div class="mt-6">
                        <%- include('../components/button', {
                            text: 'Submit'
                        }) %>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html> 